<ul>
  <% @secrets.each do |secret| %>
    <li><%= secret.pen_name %>: <%= secret.secret %></li>
  <% end %>
</ul>

<form action="/secrets" method="post" enctype="application/x-www-form-urlencoded">
  <p><label>Pen Name <input type="text" name="pen-name"></label></p>
  <p><label>Secret <input type="text" name="secret"></label></p>
  <p><button>Submit secret</button></p>
</form>